extends layout


block content
    h1= title

    p
        if loggedIn == undefined
            h3 You are not logged in
            br
            a(href="/users/signup") Click here to sign up.
            br
            a(href="/users/login") Click here to login.
        else
            h3 You are logged in in, welcome #{loggedIn}
            a(href="/users/logout") Click here to sign out.



    ul
    each listing in listings
        hr
        form(action="/listings/addCart", method="post")
            input(name="ListingId", value=listing.id, type='hidden' )
            input(name="ListingTitle", value=listing.title, type='hidden')
            input(name="ListingPrice", value=listing.price, type='hidden')
            input(name="quantity", min=1, value=1, type='number')
            p
            input(type="submit", value="Add to cart").btn.btn-primary
            p

        li
            = listing.title

        p Price: $#{listing.price}
        p
            = listing.description
        each pic in listing.Pictures
            img(img src='/images/listing_pics/'+pic.title style="width:304px;height:228px;")


